
.empty-centent{
 height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.empty-centent img{
    width: 230px;
    margin-bottom: 20px;
    display: block;
}
