.btns{
    display: flex;
    align-items: center;
    gap: 10px;
}
.empty-centent{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:  calc(100vh - 180px);;
}
.empty-centent img{
    width: 250px;
}