<h2 mat-dialog-title>How to label contacts</h2>
<button matIconButton class="close-btn" [matDialogClose]="true"> <mat-icon>close</mat-icon></button>
<mat-dialog-content class="content">
  <div class="steps">
   <div>
    <img src="/step-1.png" alt="">
    <p>1. Go to your contacts list</p>
   </div>
   <div>
    <img src="/step-2.png" alt="">
    <p>2. Select contacts to label</p>
   </div>
   <div>
    <img src="/step-3.png" alt="">
    <p>3. In the toolbar, choose the "Manage labels" icon</p>
   </div>
  
 
  </div>
</mat-dialog-content>
