:host {
  opacity: 0;
  animation: fadeIn .5s ease forwards;
  animation-delay: .3s;
}

@keyframes fadeIn {
  to { opacity: 1; }
}
main {
  padding-top: 64px;
}
.main {
  min-height: calc(100vh - 96px);
  background-color: #fff;
  border-radius: 24px;
  margin: 16px 16px 16px 16px;
  position: relative;
  padding-top: 20px;
}
.page-loader{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 29;
    border-radius: 24px;
  height: 100%;
  background-color: #fff;
--mat-progress-spinner-size:50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  main {
    --mat-sidenav-container-shape: 0;
  }

}
@media (max-width: 900px) {
  .main{
      margin: 0  0 16px;
  }

}
#loader{
  z-index: 1000;
  display: none;
}
#loader.show{
  display: block;
}