.search-form {
  width: 100%;

  background: var(--mat-sys-surface-container);
  border-radius: 8px;

  position: relative;
  transition: 0.3s ease background-color;
}
.search-form:focus-within {
  background: var(--mat-sys-surface-container-lowest);
}
.result {
  background: var(--mat-sys-surface-container-lowest);
}

.search-form .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  color: var(--mat-sys-on-secondary-container);
}
.search-form button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.search-form input {
  width: 100%;
  height: 100%;
  display: block;
  padding: 16px 60px 16px 45px;
  border: 0;
  background: none;
  outline: none !important;
  font-size: 16px;
}

.option {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: 14px;
  gap: 20px;
  text-decoration: none;
}
.option span {
  opacity: 0.6;
}
.avatar {
  /* background-color: #58b33e30; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
@media (max-width: 900px) {
  .search-form {
    background: unset;
  }
  .search-icon{
    display: none;
  }
  .search-form input {

  padding-left:  0px;
  }
  .search-form:focus-within {
    background: unset;
  }
}
