.avatars-cont {
  position: relative;
  --size: 162px;
  height: var(--size);
  width: var(--size);
}
.avatar span,
.avatar img {
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 65px;
}
.avatar .add-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  --mat-icon-color: #fff;
  outline: 3px solid #fff;
  background-color: #005cbb;
}
.avatars-wraper {
  position: absolute;
  top: 36px;
  left: 190px;
  z-index: 20;
  width: 320px;
  opacity: 0;
  transform: scale(0.94) translateX(20%);
  visibility: hidden;
  transition: 0.3s ease;
}

.avatars-content h4 {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.25rem;
}
.avatars-content {
  box-shadow: var(--mat-sys-level2);
  width: 320px;
  padding: 12px 16px;
  border-radius: 12px;
  background-color: #faf9fd;
  position: relative;
  z-index: 2;
}
.avatars-wraper::before {
  content: '';
  bottom: 24px;
  left: -44px;
  position: absolute;
  border: 22px solid transparent;
  border-right-color: #0000004a;
  filter: blur(6px);
  transform: scaleY(0.7);
}
.avatars-wraper::after {
  content: '';
  bottom: 24px;
  left: -40px;
  position: absolute;
  border: 20px solid transparent;
  border-right-color: #faf9fd;
  z-index: 3;
  transform: scaleY(0.7);
}
.avatars-wraper .btns {
  display: flex;
  justify-content: flex-end;
}
.avatars-list {
  margin: 5px 0 10px;
  overflow-x: hidden;
  position: relative;
}
.avatars-wraper .navigate-btn {
  position: absolute;
  top: 43%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  z-index: 2;
  background: #fff;
  transition: ease;
}
.avatars-wraper .left-btn {
  visibility: hidden;
  opacity: 0;
  left: 10px;
}
.avatars-wraper.show .left-btn {
  visibility: visible;
  opacity: 1;
}
.avatars-wraper .right-btn {
  right: 10px;
}
.avatars-wraper.show .right-btn {
  visibility: hidden;
  opacity: 0;
}
.avatars-list-content {
  width: 200%;
  transition: 0.3s ease margin-left;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  gap: 6px;
}
.avatars-wraper.show .avatars-list-content {
  margin-left: -100%;
}
.avatars-list .avatar-item img {

  width: 100%;
  border-radius: 8px;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: 0.3s ease opacity;
  cursor: pointer;
}
.avatars-list .avatar-item img:hover {
  opacity: 0.8;
}
.more-btn {
  min-width: 100%;
  width: 100%;
  border-radius: 8px;
  aspect-ratio: 1/1;

  height: 100%;
  align-items: center;
  background-color: #d3e3fd;
  color: #1f1f1f;
  display: flex;
  justify-content: center;
  text-align: center;
  --mat-button-text-horizontal-padding: 0px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 10;
}

@media (min-width: 900px) {
  .avatars-cont:hover .avatars-wraper {
    opacity: 1;
    visibility: visible;
    transform: scale(1) translateX(0%);
  }
}
@media (max-width: 900px) {
  .avatars-cont.menu-open .overlay {
    opacity: 1;
    visibility: visible;
  }
  .avatars-cont.menu-open .avatars-wraper {
    opacity: 1;
    visibility: visible;
    transform: scale(1) translateX(0%);
  }
}
@media (max-width: 600px) {
  .overlay {
    background-color: #0000002b;
  }
  .avatars-wraper {
    position: fixed;
    top: unset;
    bottom: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    opacity: 0;
    transform: translatey(100%);
    visibility: hidden;
    transition: 0.3s ease;
  }
  .avatars-content {
  width: 100%;
  padding: 12px 16px;
  border-radius: 12px 12px 0 0;

}
   .avatars-cont.menu-open .avatars-wraper {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
  }
  .avatars-list {
  margin: 15px 0 20px;
  overflow-x: hidden;
  position: relative;
}
}
@media (max-width: 425px) {
  .avatars-cont {
    --size: 120px;
  }
}
